.text{FONT-SIZE: 11px; letter-spacing:0px; FONT-FAMILY:  "Tahoma"; FONT-WIEGHT:10px ;  COLOR: 535353; TEXT-DECORATION: none}
.text2{FONT-SIZE: 11px; letter-spacing:0px; FONT-FAMILY:  "Tahoma"; FONT-WIEGHT:11px ;  COLOR: 327EAF; TEXT-DECORATION: none}
.text_wh{FONT-SIZE: 11px; letter-spacing:0px; FONT-FAMILY:  "Tahoma"; FONT-WIEGHT:10px ;  COLOR:  White; TEXT-DECORATION: none}






